@import "./components/header.scss";
@import "./components/footer.scss";
@import "./components/all-todo.scss";
@import "./components/todo.scss";
@import "./forms/add-todo.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rgb(120, 76, 170);
  color: white;
  // min-height: 90vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

.main-container {
  width: 80vw;
  margin: auto;
}
